{"name":"dashboard","slug":"dashboard","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/splash-icon.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"edgeToEdgeEnabled":true,"package":"com.jpedrosperandio.dashboard"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"ff1b837e-99c0-4702-b4b0-738e5ee2a218"}},"sdkVersion":"54.0.0","platforms":["ios","android"]}